.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header {
  height: 15vh;
  width: 100vw;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.logbook{
  font-size: 100px;
  color: black;
}

.allButtons {
  display: flex;
  flex-direction: row;
  width: 80vw;
  justify-content: space-between;
  margin-top: 10vh;
}

.prevButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 5px;
}

.nextButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 27px;
  font-weight: 600;
  margin: 5px;

}

.logCard {
  width: 80vw;
  padding: 15px;
  background-color: brown;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 30px;
}

.smallInput {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

.smallInput label {
  align-self: flex-start;
  font-size: 28px;
}

.smallInput input {
  height: 28px;
  font-size: 15px;
}

.jumpNumber {
  align-self: flex-start;  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.jumpNumber p {
  font-size: 30px;
  margin: 10px;
}

.jumpInfo {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.extraJumpInfo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.bigInput {
  margin: 7px;
  height: 230px;
  width: 230px;
}


.bigInput {
  display: flex;
  flex-direction: column;
  margin: 7px;
}

.bigInput label {
  align-self: flex-start;
  font-size: 28px;
}

.bigInput input {
  height: 200px;
  font-size: 15px;
}

.funButtons {
  display: flex;
  justify-content: space-evenly;
  width: 80vw;
  margin: 10px;
}

.button, .addButton{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 23px;
  font-weight: 500;
}

.create, .addButton {
  margin: 10px;
}

.wayToGo {
  margin-top: 67px;
}



@media (max-width: 900px){
  .logbook{
    font-size: 70px;
  }
}

@media (max-width: 625px){
  .logbook{
    font-size: 50px;
  }
}